<%- include('header') %>

<div class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>

<div class="box">
  <% todos.forEach(todo => { %>
  <form action="/delete" method="post">
    <label class="item">
      <input type="checkbox" name="checkbox" value="<%= todo._id %>" onchange="this.form.submit()">
      <p><%= todo.name %></p>
    </label>
    <input type="hidden" name="listName" value="<%= listTitle %>">
  </form>
  <% }) %>

  <form action="/" method="POST">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off" autofocus>
    <button type="submit" name="list" value="<%= listTitle %>">+</button>
  </form>
</div>

<%- include('footer') %>
